:root{
    --primary: rgb(128,0,128);
    padding: 0;
    margin: 0;
    box-sizing:border-box !important;
    /* overflow:hidden !important; */
}
.text-color{
   color:rgb(170, 112, 170);
}

body{
   padding: 0;
   margin: 0;
   box-sizing: border-box !important;
   /* overflow: hidden !important; */
}
.site-header{
   position: sticky !important;
}
.navbar{
    background-color: var(--primary);
    font-size: 1.2vw;
    font-weight: 800;
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999 !important; */
    /* margin-bottom: 4vw; */

}
.navbar .nav-link{
    color: white !important;

}
.navbar .dropdown-menu{
background-color: var(--primary) !important;
}
.navbar .services a:hover{
   background-color: white!important;
   color: var(--primary) !important;
   }
.home-header{
    height: 90vh;
}
.wrapper-img{
    width: 60% !important;
    margin: 3vw 10vw;
}
.featured .card-deck{
    display: flex;
    flex-direction: row;;
}
.featured .card-deck .card{
    width: 30% !important;
}
.front-page-optin{
    margin-top: 11vw;
}
.landing-page-h1{
    font-size: 3vw;
    font-weight: 600 !important;
}
.fp-optin-text{
    font-size: 1.2vw;
}
.fp-optin-text span{
    color: red;
}
.submit-btn {
width: 100% !important;
background-color: var(--primary) !important;
height: 3vw;
border-radius: 10px;
border: none;
color: white;
font-size: 1.5vw;
}
.help-you {
    height: 67vh;
    background-color: #fff ;
}
.help-you  .card-deck{
   justify-content: space-around;
   width: 80%;
   margin: 0 auto;
}
.help-you .card{
align-items: center !important;
width: 23vw;
border: none;
text-align: center;
}
.help-you  svg{
    font-size: 12vw !important;
    color:var(--primary) !important;
    box-shadow: 1px 5px 5px grey;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 1.3vw !important;
    
 }
 .help-titles  a{
    color:rgb(70, 4, 131) !important;
    font-size: 1.4vw;
    text-decoration: none;
    font-weight: 800;

 }
 .Xcard-footer{
    font-size: 1.2vw;
    font-weight: 700;
 }
 .Xcard-footer a{
   color: var(--primary);
 }
 .fancy-headline{
    font-size: 2.2vw;
    font-weight: 800;
    padding-top: 2vw;
 }
 .latest-posts {
   width: 70vw !important;
   margin: 0 5vw ;
   align-items: center !important;

 }
 .latest-posts .card-deck{
  
   flex-wrap: wrap;
 }
 .latest-posts .card{
   width: 40% !important;
   margin: 2vw !important;
   border: none;
   height: 40vw !important; 
 }
 .latest-posts .card:hover{
  box-shadow: 1px 1px 5px var(--primary);
   
 }
 .latest-posts , .card-body, .card-content{
   width: 100% !important;
   
 }
 .latest-posts  .card-content .text-title{
   color: white !important;
   font-size: 2.2vw;

 }
 .latest-posts .article-link{
text-decoration: none;
color: var(--primary) !important;
}
 .latest-posts .card-img .card-content{
   background-color: var(--primary);
   width: 50% !important;
 }

 .latest-posts .card-img  .entry-image-link{
   width: 16vw !important;
   height: 20vw !important;
   object-fit: cover;
 }
.latest-posts .footer-text{
   align-items: center !important;
}
.more-link{
   background: var(--primary) !important;
   border: none;
}
.more-link:hover{
   background: transparent !important ;
   border: 1px solid var(--primary);
   color: var(--primary) ;
   font-size: 1.2vw;
}
.btn{ 
   box-shadow: none !important;
}
 .testimonials{
margin-top: 3vw;
background-color: #fff;
padding: 2vw;
 }
 .testimonial-title{
font-style: italic !important;
margin: 2vw 0;
color: var(--primary);
 }
 .testimonials .card-decks{
   display: flex !important;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 5vw;
   padding-right: 5vw;

 }
 .testimonials .card-decks .card{
   width: 30%  !important;
   border: none;
   box-shadow: 1px 1px 5px var(--primary);

 }

 .btn-readmore{
    background-color: var(--primary);
    border: none;
    width: 20vw;
    height: 3.5vw;
   /* padding-top: 1.1vw; */
   font-size: 1.3vw;
 }
 .site-footer{
    background-color: #ddd;
    padding-top: 4vw;
 }
 .site-footer img{
    border-radius: 50% !important;

 }
 .site-footer h4{
    color: var(--primary) ;
 }
 .footer-courses a{
    background-color: var(--primary);
    border: none;
 }
 .footer-courses a:hover{
   background:transparent !important;
   border: var(--primary) 1px solid !important;
   color: var(--primary) !important;
}
 .footer-contact-icons a{
    text-decoration: none;
 }
 .search-form{
   height: 1.4vw !important;


 }
 /* .search-form:hover{
border: 1px solid white;
 } */
 .footer-search .search-submit{
    background-color: black;
    border: none;
    /* height: 1.4vw !important; */
 }
 .contact-main{
   width: 60vw;
   margin: 0 auto;
 }
 .contact-main a{
  text-decoration: none;
 }
 .entry-content{
   padding-top: 3vw;

 }
 .entry-content a{
text-decoration: none;;
 }
.social-avatar
 {
display: flex;
 }
 .avatar-contact{
   border-radius: 50%;
   width: 13vw;
   height: 13vw;
 }
 .contact-content p{
   font-size: 1.2vw;
 }
 form label{
   font-size: 1.1vw;
   font-weight: bold;
   padding-top: 1.3vw;
 }
 .btn-contact{
   background-color: var(--primary);
   border: none;
   width: 8vw;
   margin-top: 1.5vw;
   font-size: 1.2vw;
 }
 .btn-contact:hover{
   background: none !important;
border: 1px solid var(--primary) !important;   
   color: var(--primary) !important;
 }

 .btn-contact:active{
   background: none !important;
   border: 1px solid var(--primary) !important;   
   color: var(--primary) !important;
   box-shadow: none !important;
 }
 

 .about-avatar{
   float:left !important;
 }
 .entry-content{
   width: 60vw;
   margin: 0 auto;
 }
 .entry-content p{
 font-size: 1.3vw;
}
blockquote{
padding-left: 3vw;
}
.about-titles{
   color: var(--primary);
   padding-top: 2vw;
   padding-bottom: 1.4vw;
}
.entry-title a{
   text-decoration: none;
   font-size: 1.8vw !important;
   margin-right: 1.2vw !important;
   text-align: right !important;
}
.entry-title a:hover{
   text-decoration: underline var(--primary) !important;
}
.entry-header, .site-content{
   width: 60vw;   
   margin:0 auto;
   margin-top: 2vw;
}

.site-content
.blog-list a{
   text-decoration: none;
   text-align: center !important;
}
.site-content{
   width: 60vw!important;
   margin: 0 auto !important;
}
.site-content img 
{
   width: 60vw !important;
   height: 40vw !important;
}
.intro-tag{
 font-style: italic !important;
 font-weight: 800 !important;
 padding-top: 2vw;
}
.categories{
margin-left: 8vw !important;

}
.categories a{
   color: var(--primary);
font-weight: 800;
font-size: 1.3vw;
font-style: italic;
}
.myblogs{
   display: flex !important;
   flex-direction: column !important;
   margin-top: 3vw !important;
}
.myblogs a{
text-decoration: none;
color: var(--primary);
font-size: 1.2vw;
}
.myblogs .client{
font-weight: 800 !important;
font-size: 2vw;
}

.all-posts .card-deck {
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   width: 80%;
   margin-top: 3vw;
}
.all-posts .card-deck .card{
   width: 80%;
   margin: 0 auto;
   margin-bottom:  4vw;
   border: none;
   text-align: center !important;
   height: 98vh;
}  
.all-posts .card-img{
   display: flex;
   width: 100%;
   height: 60vh;
   padding-bottom: 2vw !important;
   margin-bottom: 1.4vw;;

}
.all-posts .side-content{
   font-size: 2.8vw;

}
.all-posts .more-link{
   width: 15vw;
   font-size: 1.2vw !important   ;
   padding-left: 1.2v !important;
   background-color: var(--primary) !important;
   border: var(--primary) 1px solid!important;
   color: white !important;
}
.all-posts .more-link:hover{
   width: 15vw;
   font-size: 1.2vw !important   ;
   padding-left: 1.2v !important;
   background: transparent !important;
   border: var(--primary) 1px solid!important;
   color: black !important;


}


.all-posts .card-img .card-content{
   width: 50%;
   background-color: var(--primary);
   height: 60vh;
   color: white;
   font-weight: 1000;
   font-size: 1.7vw;
   padding-top: 1.4vw; 

}
.all-posts .card-deck .card img{
   height: 60vh;
   width: 30vw;
   box-shadow: 3px 3px 3px rgb(167, 162, 162);
   object-fit: cover;

}
.all-posts .card-deck .small{
   font-weight: 400!;
   font-size: 1.3vw;
}
.all-posts .card-deck .card a{
     text-decoration: none;
     font-weight: 1000;
     color: black;
     font-size: 2vw;
}
.all-posts .card-deck .card-text{
   font-size: 1.3vw;
}
.aside-menu {
   background-color: var(--primary) !important;
}
.view-article{
   width: 70vw;
   margin: 0 auto;
   height: auto;
   padding-top: 2vw;
   background-color: white;
}
.view-article .article-title {
   font-size: 2.4vw;
   color: var(--primary);
}
.view-article img{
   width: 40vw;
   object-fit: cover;
}
.view-article  hr{
   margin-top: 5vw ;
   width:68vw !important;
}
 .feedback{
   background-color: rgb(245, 237, 237);
   width: 70vw;
   margin: 0 auto;
   height: auto;
   /* margin: 5vw 1.1vw !important; */ 
 }
 .feedback textarea, input{
   background: none !important;
 }
 .feedback .send{
   background-color: var(--primary);
   border: none;
   
 }
 .feedback span{
   color: var(--primary);
   padding-top: 1.3vw;
   
 }
.services{
   width: 65vw;
   margin: 0 auto;
   padding-top: 2vw;
}
.services p, li{
   font-size: 1.3vw;
}
.services .title{
   color: var(--primary);
   font-size: 2vw;
}
.services .title-2{
   /* color: var(--primary); */
   font-size: 1.3vw;
   font-style: italic;
}
.services .book , .send{
   background-color: var(--primary);
   width: 14vw !important;
   border: none;
   margin: 2vw 4vw;

}

/* .services .send:hover{
   background-color: var(--primary);
   width: 14vw !important;
   border: none;
   color: white !important;

} */

.services .book:hover , .send:hover{
   background: none;
   color: var(--primary) !important;
   border: solid 1px var(--primary);
}

.services .section-title{
   color: var(--primary) !important;
   margin-top: 2vw;
   font-size: 1.5vw;
}
.services .container .section-title{
   color: var(--primary) !important;
   margin-top: 2vw;
   font-size: 1.4vw;
}
.services .container p span{
   font-style: italic !important ;
   font-weight: 800;
   color:rgb(62, 133, 4);
   
}
.faqs{
   margin-bottom: 2vw;
}
.faqs .faqs-title{
   font-size: 3vw;
   color:rgb(62, 133, 4);
}
.faqs-question{
   color: var(--primary);
   font-style: italic;
   text-decoration: underline;
   font-size: 1.4vw;
}
.services-content{
   padding: 2vw;
justify-content: center;
}
.services .shadow{
   margin-top: 3vw;
   padding: 1.1vw 2vw;

}
/* backend */
.color-btn, .edit {
   background-color: var(  --primary) !important;
   border: none;
 }
 .text-color{
   color: var( --primary) !important;
 }
 .dashboard .menu-text {
   color: var(--primary) !important;
 }
 .white{
   color: white !important;
   background-color: #ddd;
 }
/* tablet */
 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}
@media screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) 
{
   .wrapper-img{
      width: 100% !important;
      height: 40vh !important;
      margin: 0;
      object-fit: cover;;

  }
  .landing-page-h1{
   font-size: 3.6vw;
   font-weight: 600 !important;
}
  .front-page-optin{
   margin: 3vw 0 1vw 0;


}
.fp-optin-text{
   font-size: 3vw;
}
.form-reg {
   padding-top: 1vw !important;
}
.submit-btn {
   height: 7vw;
   font-size: 3vw;
   }
   .help-you {
      margin-top: 5vw;
    height: auto;

  }
  .help-you  .card-deck{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.help-you .card{
   align-items: center !important;
   width: 80%;
   border: none;
   text-align: center;
   }
   .help-you  svg{
      font-size: 40vw !important;
      color:var(--primary) !important;
      box-shadow: 1px 5px 5px grey;
      border-radius: 50%;
      border: 5px solid white;
      margin-bottom: 1.3vw !important;
      
   }
   .help-titles  a{
      font-size: 4.3vw;
   }
   .Xcard-footer{
      font-size: 3.3vw !important;

   }
   .latest-posts {
    display: flex;
    flex-direction: column !important;
    /* margin: 1.3vw 5vw ; */

   
    }
    .latest-posts .card{
      width: 90% !important;
      height: auto !important; 
    }
    .latest-posts .card-img {
      height: 40vh !important;
    }
    .latest-posts .card-img .card-content{
      width: 50% !important;
      text-align: center !important;
    }
    .latest-posts  .card-content .text-title{
      font-size: 4.3vw;
      margin-top: 3vw !important;
      
    }
    .latest-posts .card-img  .entry-image-link{
      width: 40vw !important;
      height: 40vh !important;
    }
    .testimonials .card-decks{
      margin-top: 3vw;
      display: flex;
      flex-direction: column;
       }
      .testimonials .card-decks .card{
      width: 80%  !important;
      margin: 2vw 10%;
   
      }
      .site-footer h4{
         color: var(--primary) ;
         text-decoration: underline !important;
      }
      .footer-courses a{
         background-color: transparent;
         /* border: var(--primary) 1px solid !important; */
         text-decoration: underline var(--primary)!important ;
         color: black !important;
      }
      .footer-contact-icons a {
         font-size: 4vw !important;

      }
      .all-posts .card-deck {
         width: 100%;
      }
      .all-posts .card-deck .card{
         width: 100%;
         margin-bottom:  4vw;
         height: auto;
      } 
      .all-posts .card-img{
         display: flex;
         width: 100%;
         height: 40vh;
         padding-bottom: 2vw !important;
         margin-bottom: 1vw;;
      
      }
      .all-posts .side-content{
         font-size: 4vw;
         margin-top: 3vw;
      
      }

      .all-posts .card-img .card-content{
         width: 50%;
         height: 40vh;
         padding-top: 1.4vw; 
      
      }
      .all-posts .card-deck .card img{
         height: 40vh;
         width: 45vw;
      
      }
      .all-posts .card-title{
         font-size: 4vw !important;
         margin-top: 1.2vw !important;
      }
      .all-posts .card-deck .card a{
         text-decoration: none;
         font-weight: 1000;
         color: black;
         font-size: 4vw;
    }
      .all-posts .card-deck .card-text{
         font-size: 3.2vw;

      }
      .all-posts .more-link{
         width: 35vw;
         font-size: 2.7vw !important   ;
      }
   
      .btn-readmore{
         width: 40vw;
         height: 8vw;
        /* padding-top: 1.1vw; */
        margin-top: 1vw !important;
        font-size: 3vw;
      }
     
}